<p id="notice"><%= notice %></p>

<p>
  <strong>Food:</strong>
  <%= @meal.food %>
</p>

<p>
  <strong>Date of:</strong>
  <%= @meal.date_of %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
